# Visual Studio Code
.vscode/
*.code-workspace

# Node.js
node_modules/
npm-debug.log
*.log

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/

# Other ignores
.DS_Store
.env
