# Windows
Thumbs.db
ehthumbs.db
desktop.ini
$RECYCLE.BIN/
System Volume Information/

# Python
*.pyc
__pycache__/
venv/
*.egg-info/
dist/
build/

# VS Code
.vscode/
*.code-workspace

# dotenv
.env

# Google Cloud Text-to-Speech service account
google-cloud-service-account.json

# Audio output folder
tts_output/

# Logging output
*.log
